body {
	padding: 50px;
	font: 11px Segoe UI, Arial, sans-serif;
	background-color: #FFFFFF;
	color: #333333;
}

div.wrap { 
	margin: 0 auto;
	top: 0px;
	left: 0px;
	width: 100%;
	position: fixed;
}

div.mainmenu { 
	width: 686px;
	padding: 7px;
}

div.content { 
	position: relative;
	width: 660px;
	height: 560px;
	margin: 0 auto;
}

div.content_minimal { 
	position: relative;
	background-image: url('/images/grid.png');
	background-repeat:no-repeat;
	background-position:center;
	width: 660px;
	height: 450px;
	margin: 0 auto; 
	padding-top: 0px;
}

div.setupcontent { 
	padding-top: 0;
	margin-top: 0;
	width: 500px;
	height: 330px;
	margin: 0 auto;
	overflow: auto;
}

div.login { 
	background-color: #222;
	border: 1px solid black;
	color: #eaeaea;
	border-radius: 6px;
	padding-top: 0;
	margin-top: 0;
	width: 270px;
	margin: 0 auto;
}

div.frame { 
	position: relative;
	width: 660px;
	height: 560px;
	margin-top: 0;
	margin: 0 auto;
}

div.center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

div.setupwifisel {
	color: #eaeaea;
	background-color: #333;
	border: 1px solid black;
	border-radius: 6px;
}

label.login {
	font-size: 16px;
	padding: 10px;
	padding-top: 6px;
	padding-bottom: 0px;
	font-weight: bold;
  display: inline-block;
}

label.poplabel {
	font-size: 16px;
	font-weight: bold;
	text-align: right;
  width:135px;
	margin-right: 5px;
  display: inline-block;
}

label.setupnet {
  width:111px;
	margin-left: 20px;
  display: inline-block;
}

label.setupwifi {
	padding-top: 10px;
	padding-bottom: 3px;
}

span.setupwifissid {
	font-size: 16px;
	display: inline-block;
	padding-left: 5px;
	width: 200px;
}

span.setupwifisec {
	font-size: 16px;
	display: inline-block;
	padding-right: 10px;
	width: 120px;
}

span.setupwifisig {
	font-size: 16px;
	display: inline-block;
	width: 90px;
}

a {
	color: #00B7FF;
}

p.error {
	font-size: 16px;
	margin: 0px;
	padding: 0px;
	font-weight: bold;
	color: #800000;
}

p.alert {
	margin: 0px;
	padding: 0px;
	font-weight: bold;
	color: #800000;
}

p.inputerror {
	text-align: right;
	margin: 0px;
	padding: 0px;
	padding-right: 33px;
	font-weight: bold;
	color: #800000;
}

fieldset {
	background-color: #fff;
	border: 1px solid black;
	border-radius: 6px;
}

fieldset.login {
	background-color: #222;
	border: 1px solid black;
	color: #eaeaea;
	border-radius: 6px;
}

div.heading {	
	position: relative;
	color: #000;
	border: 1px solid black;
	border-top: 0px;
	font-size: 2em;
	padding-left: 9px;
	padding-right: 9px;
	margin-bottom: 9px;
	width: 150px;
}

div.heading img {
	float: left;
	padding-right: 9px;;
}

legend {
	box-shadow: 0px 0px 6px #555;
	background-color: #333;
	color: #eaeaea;
	border: 1px solid #000;
	border-radius: 6px;
	font-size: 2em;
	padding-left: 9px;
	padding-right: 9px;
	margin-bottom: 9px;
	height: 27px;
}

input {
	color: #333333;
	font: 14px Segoe UI, Arial, sans-serif;
	background-color: #fff;
	text-align: left;
	margin: 0 2px 2px 0;
	padding-left: 3px;
	border: 1px solid black;
	border-radius: 3px;
}

textarea:focus, input.box:focus, input.popinput:focus, select:focus {
	border: 1px solid #cc6600;
	box-shadow: 0px 0px 6px #ff9900;
}

input.popinput {
	margin: 3px;
	width: 150px;
	height: 20px;
	background-color: #333333;
	color: #eaeaea;
	border: 1px solid black;
}

input.box {
	width: 150px;
	height: 20px;
}

input.boxLong {
	width: 220px;
	height: 20px;
}


select option {
	color: #333333;
	font: 14px Segoe UI, Arial, sans-serif;
	background-color: #fff;
	width: 150px;
	height: 20px;
	border: 1px solid black;
	text-align: left;
	margin: 0 2px 2px 0;
	border-radius: 3px;
}

select {
	color: #333333;
	font: 14px Segoe UI, Arial, sans-serif;
	background-color: #fff;
	width: 150px;
	height: 20px;
	border: 1px solid black;
	text-align: left;
	margin: 0 2px 2px 0;
	border-radius: 3px;
}

textarea {
	color: #333333;
	font: 14px Segoe UI, Arial, sans-serif;
	background-color: #fff;
	width: 300px;
	height: 50px;
	border: 1px solid black;
	text-align: left;
	padding-left: 3px;
	margin: 0 2px 2px 0;
	border-radius: 3px;
}

button {
	border-style: solid;
	font: 14px Segoe UI, Arial, sans-serif;
}

input[type="text"]:disabled
{
	background:#999999;
}

input[type="button"]
{
	font: 16px Segoe UI, Arial, sans-serif;
	background-color: transparent;
	width: 200px;
	height: 30px;
	border: 1px solid black;
	text-align: center;
	margin: 0 2px 2px 0;
	border-radius: 3px;
}

img.button {
	margin: 5px;
	padding: 3px;
	background-color: #333333;
	border: 1px solid black;
	border-radius: 999px;
}

img.clicky {
	cursor: pointer;
}

ul.menu {
	padding: 0px;
	margin: 0px;
}

ul.menu li a {
	display: inline; 
	background-color: #fff;
	color: black;
	padding: 7px;
	text-decoration: none;
	border-style: solid;
	border-top: 0;
	border-width: 1px;
	font-weight: bold;
	font-size: 12px;

}
 
ul.menu a:hover {
	/* This rule is only in effect when mouse is hovering */
	background-color: #000;
	color: #fff;
	zoom: 1;
	filter: alpha(opacity=80);
	opacity: .33;
}

ul.menu li {
	display: inline-block;
	list-style-type: none;
}



h1.popup {
	color: #00B7FF;
	margin: 0px;	
	margin-bottom: 10px;
	padding: 0px;
	border-bottom: 1px solid #333333;
	font-size: 3em;
}

h1.node {
	color: #00B7FF;
	margin: 0px;
	margin-top: 48px;
	padding: 0px;
	font-size: 30px;
}

h1.login {
	color: #00B7FF;
	padding: 0px;
	font-size: 60px;
}

h4.time {
	font-size: 18px;
	margin: 0px;
	padding: 0px;
}

h5.date {
	margin: 0px;
	margin-bottom: 6px;
	margin-top: 2px;
	padding: 0px;
}

.imageContainer {
	text-align: center;
}
.imageContainer img {
	display: block;
}
.imageContainer div {
	position: relative;
	display: inline-block;
}
.imageContainer span {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	background: #000;
	background: rgba(0,0,0,.5);
}

div.icon img {
	position: absolute;
	left: 14px;
	top: 14px;
}
div.icon {
	width: 60px;
	height: 60px;
	background-color: #333;
	color: #eae;
	border: 1px solid black;
	border-radius: 999px;
	position: relative;
}
div.icon:hover {
	background-color: #555;
}


.dark {
	background-color: #333333;
	color: #eaeaea;
	border: 1px solid black;
}

.round {
	border-radius: 3px;
	margin-bottom: 9px;
}

.circle {
	box-shadow: 0px 0px 6px #333;
	border-radius: 999px;
	margin-bottom: 9px;
}

.dlg-no-title .ui-dialog-titlebar {
	display: none;
}

/* waiting blocks css */
.waiting { padding: 0; display: inline-block; }
.waiting-element { margin: 0 2px 2px 0; background-color: #ccc; 
    width: 10px; height: 20px; display: inline-block;}
.waiting-play-0 { margin-bottom: 0; background-color: #999; }
.waiting-play-1 { margin-bottom: 1px; background-color: #aaa; }
.waiting-play-2 { margin-bottom: 2px; background-color: #bbb; }

.waitbox {
  display: table;
  margin: 0 auto;
}
