body {
	padding: 0px;
	margin: 0px;
	font: 11px Segoe UI, Arial, sans-serif;
	background-color: #FFFFFF;
	color: #333333;
}

div.content {
	position: absolute;
	height: 600px;
	width: 900px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);    
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	z-index: 3;
}

div.back {
	height: 600px;
	width: 600px;
	background-image: url('/images/grid.png');
	background-repeat:no-repeat;
	background-position:center;
}

div.bigcirc {
	position: absolute;
	width: 700px;
	height: 700px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);    
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	background-color: #aaa;
	color: #eaeaea;
	border: 1px solid #999;
	box-shadow: 0px 0px 90px 6px #111 inset;
	border-radius: 999px;
	margin-bottom: 9px;
	text-align: center;
	z-index: 100;
}

div.logincirc {
	position: relative;
	width: 290px;
	height: 290px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);    
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	background-color: #333;
	color: #eaeaea;
	border: 1px solid #111;
	box-shadow: 0px 0px 180px 6px #111 inset, 0px 0px 33px 3px #000;
	border-radius: 999px;
	margin-bottom: 9px;
	text-align: center;
	z-index: 0;
}

div.node {
	position: relative;
	width: 180px;
	height: 180px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);    
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	background-color: #444;
	color: #eaeaea;
	border: 1px solid black;
	box-shadow: 0px 0px 90px 6px #111 inset, 0px 0px 6px 1px #111;
	border-radius: 999px;
	margin-bottom: 9px;
	text-align: center;
	z-index: 9;
}

div.minicirc {
	position: absolute;
	width: 120px;
	height: 120px;
	color: #eee;
	border-radius: 999px;
	background-color: #aaa;
	color: #eaeaea;
	border: 1px solid #999;
	box-shadow: 0px 0px 90px 6px #111 inset;
	font-size: 2em;
	cursor: pointer;
	z-index: 1;
}

div.setupcontent { 
	padding-top: 0;
	margin-top: 0;
	width: 500px;
	height: 330px;
	margin: 0 auto;
	overflow: auto;
}

div.login { 
	background-color: #000;
	border: 1px solid black;
	color: #eaeaea;
	border-radius: 6px;
	padding-top: 9px;
	margin-top: 0;
	width: 270px;
	margin: 0 auto;
}

div.buttonTitle {
	position: absolute;
	top: 300px;
	left: 300px;
	color: #eee;
	border: 1px solid #333;
	border-radius: 6px;
	background-color: #333;
	font-size: 2em;
	box-shadow: 0px 0px 6px #555;
	z-index: 9;
	padding-bottom: 1px;
	padding-top: -1px;
	text-align: center;
}

div.buttonContainer {
	position: absolute;
	top: 300px;
	left: 300px;
	width: 180px;
	height: 180px;
	border-radius:999px;
	border: 3px solid transparent;
	z-index: 11;
}

div.buttonIcon {
	position: absolute;
	width: 62px;
	height: 62px;
	top: 56px;
	left: 56px;
	color: #eaeaea;
	border: 1px solid #000;
	border-radius: 999px;
	background-color: #444;
	font-size: 2em;
	box-shadow: 0px 0px 31px 1px #111 inset, 0px 0px 3px 1px #111;
	cursor: pointer;
	z-index: 5;
}

img.buttonImage {
	position: absolute;
	top: 7px;
	left: 7px;
}

div.buttonLinks {
	position: absolute;
	width: 180px;
	height: 180px;
}

div.linkIcon {
	position: absolute;
	width: 34px;
	height: 34px;
	color: #eee;
	border: 1px solid #000;
	border-radius: 999px;
	background-color: #333;
	font-size: 2em;
	box-shadow: 0px 0px 15px 1px #333 inset, 0px 0px 2px 1px #000;
	cursor: pointer;
	z-index: 5;
}

div.buttonDrag {
	position: relative;
	top: 0px;
	left: 0px;
	width: 62px;
	height: 62px;
	margin: 4px;
	display: inline-block;
	color: #eaeaea;
	border-radius: 999px;
	font-size: 2em;
	cursor: pointer;
	border: 1px solid #000;
	background-color: #000;
	box-shadow: 0px 0px 55px 1px #666 inset, 0px 0px 6px #000000;
	z-index: 5;
}

div.tab {
	background-color: #555;
	color: #eaeaea;
	border: 1px solid #555;
	box-shadow: 0px 0px 90px 6px #333 inset;
}

img.linkImage {
	position: absolute;
	top: 5px;
	left: 5px;
}

div.center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

div.setupwifisel {
	color: #eaeaea;
	background-color: #333;
	border: 1px solid black;
	border-radius: 6px;
}

label.login {
	font-size: 16px;
	padding: 10px;
	padding-top: 6px;
	padding-bottom: 0px;
	font-weight: bold;
  display: inline-block;
}

label.poplabel {
	font-size: 16px;
	font-weight: bold;
	text-align: right;
  width:135px;
	margin-right: 5px;
  display: inline-block;
}

label.setupnet {
  width:111px;
	margin-left: 20px;
  display: inline-block;
}

label.setupwifi {
	padding-top: 10px;
	padding-bottom: 3px;
}

span.setupwifissid {
	font-size: 16px;
	display: inline-block;
	padding-left: 5px;
	width: 200px;
}

span.setupwifisec {
	font-size: 16px;
	display: inline-block;
	padding-right: 10px;
	width: 120px;
}

span.setupwifisig {
	font-size: 16px;
	display: inline-block;
	width: 90px;
}

a {
	color: #00B7FF;
}

p.inputerror {
	text-align: right;
	font-size: 12px;
	margin: 0px;
	margin-right: 33px;
	padding: 0px;
	font-weight: bold;
	color: #cb0000;
}

p.error {
	font-size: 16px;
	margin: 0px;
	padding: 0px;
	font-weight: bold;
	color: #cb0000;
}

p.alert {
	text-align: center;
	margin: 0px;
	padding: 5px;
	font-weight: bold;
	color: #cb0000;
}

fieldset {
	background-color: #fff;
	border: 1px solid black;
	border-radius: 6px;
}

legend {
	box-shadow: 0px 0px 6px #555;
	background-color: #333;
	color: #eaeaea;
	border: 1px solid #000;
	border-radius: 6px;
	font-size: 2em;
	padding-left: 9px;
	padding-right: 9px;
	margin-bottom: 9px;
	height: 27px;
}

input {
	color: #333333;
	font: 14px Segoe UI, Arial, sans-serif;
	background-color: #fff;
	text-align: left;
	margin: 0 2px 2px 0;
	padding-left: 3px;
	border: 1px solid black;
	border-radius: 3px;
}

textarea:focus, textarea.poptext:focus, input.box:focus, input.popinput:focus, select:focus {
	border: 1px solid #000;
	box-shadow: 0px 0px 6px #ff9900;
}

input.popinput {
	margin: 3px;
	width: 150px;
	height: 20px;
	background-color: #333333;
	color: #eaeaea;
	border: 1px solid black;
	autocomplete: "off"
}

textarea.poptext {
	font: 14px Segoe UI, Arial, sans-serif;
	width: 148px;
	height: 50px;
	background-color: #333333;
	color: #eaeaea;
	border: 1px solid black;
	text-align: left;
	margin: 3px;
	resize: none; 
	overflow-y: hidden;
	border-radius: 3px;
	vertical-align: top;
}

input.box {
	width: 150px;
	height: 20px;
}

input.boxLong {
	width: 220px;
	height: 20px;
}


select option {
	color: #333333;
	font: 14px Segoe UI, Arial, sans-serif;
	background-color: #fff;
	width: 150px;
	height: 20px;
	border: 1px solid black;
	text-align: left;
	margin: 0 2px 2px 0;
	border-radius: 3px;
}

select {
	color: #333333;
	font: 14px Segoe UI, Arial, sans-serif;
	background-color: #fff;
	width: 150px;
	height: 20px;
	border: 1px solid black;
	text-align: left;
	margin: 0 2px 2px 0;
	border-radius: 3px;
}

textarea {
	color: #333333;
	font: 14px Segoe UI, Arial, sans-serif;
	background-color: #fff;
	width: 300px;
	height: 50px;
	border: 1px solid black;
	text-align: left;
	padding-left: 3px;
	margin: 0 2px 2px 0;
	border-radius: 3px;
}

button {
	border-style: solid;
	font: 14px Segoe UI, Arial, sans-serif;
}

input[type="text"]:disabled
{
	background:#999999;
}

input[type="button"]
{
	font: 16px Segoe UI, Arial, sans-serif;
	background-color: transparent;
	width: 200px;
	height: 30px;
	border: 1px solid black;
	text-align: center;
	margin: 0 2px 2px 0;
	border-radius: 3px;
}

ul.menu {
	padding: 0px;
	margin: 0px;
}

ul.menu li a {
	display: inline; 
	background-color: #fff;
	color: black;
	padding: 7px;
	text-decoration: none;
	border-style: solid;
	border-top: 0;
	border-width: 1px;
	font-weight: bold;
	font-size: 12px;

}
 
ul.menu a:hover {
	/* This rule is only in effect when mouse is hovering */
	background-color: #000;
	color: #fff;
	zoom: 1;
	filter: alpha(opacity=80);
	opacity: .33;
}

ul.menu li {
	display: inline-block;
	list-style-type: none;
}



h1.popup {
	color: #00B7FF;
	margin: 0px;	
	margin-bottom: 10px;
	padding: 0px;
	border-bottom: 1px solid #333333;
	font-size: 3em;
}

h1.node {
	color: #00B7FF;
	margin: 0px;
	margin-top: 48px;
	padding: 0px;
	font-size: 30px;
}

h1.login {
	color: #00B7FF;
	padding: 0px;
	font-size: 60px;
}

h3.line {
	border-bottom: 1px solid #333333;
}

h4.time {
	font-size: 18px;
	margin: 0px;
	padding: 0px;
}

h5.date {
	margin: 0px;
	margin-bottom: 6px;
	margin-top: 2px;
	padding: 0px;
}

.dark {
	background-color: #333333;
	color: #eaeaea;
	border: 1px solid black;
}

.round {
	border-radius: 3px;
	margin-bottom: 9px;
}

.circle {
	box-shadow: 0px 0px 6px #333;
	border-radius: 999px;
	margin-bottom: 9px;
}

.dlg-no-title .ui-dialog-titlebar {
	display: none;
}

/* waiting blocks css */
.waiting { padding: 0; display: inline-block; }
.waiting-element { margin: 0 2px 2px 0; background-color: #ccc; 
    width: 10px; height: 20px; display: inline-block;}
.waiting-play-0 { margin-bottom: 0; background-color: #999; }
.waiting-play-1 { margin-bottom: 1px; background-color: #aaa; }
.waiting-play-2 { margin-bottom: 2px; background-color: #bbb; }

.waitbox {
  display: table;
  margin: 0 auto;
}

img.button {
	margin: 5px;
	padding: 3px;
	background-color: #333333;
	border: 1px solid black;
	border-radius: 999px;
}

img.clicky {
	cursor: pointer;
}
