body {
	padding: 50px;
	font: 14px Segoe UI, Arial, sans-serif;
	background-color: #FFFFFF;
	color: #333333;
}

div.wrap { 
	width: 760px; 
	margin: 0 auto; 
}

div.content { 
	width: 620px; 
	margin: 0 auto; 
}

div.subcontent { 
	width: 600px; 
	height: 315px;
	margin: 0 auto; 
	overflow: auto;
}

div.center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

label.login {
	font-size: 16px;
	padding: 10px;
	font-weight: bold;
}

label.setupnet {
  width:111px;
  display: inline-block;
}

label.setupwifisel {
	background-color: #999999;
}

label.setupwifi {
	padding-top: 10px;
	padding-bottom: 1px;
}

span.setupwifissid {
	font-size: 18px;
	display: inline-block;
	padding-left: 10px;
	width: 290px;
}

span.setupwifisec {
	font-size: 18px;
	display: inline-block;
	padding-right: 10px;
	width: 120px;
}

span.setupwifisig {
	font-size: 18px;
	display: inline-block;
	width: 110px;
}

a {
	color: #00B7FF;
}

p.alert {
	font-weight: bold;
	color: #800000;
}

li.menu {
	display: inline;
	list-style-type: none;
}

input {
	font: 14px Segoe UI, Arial, sans-serif;
	background-color: transparent;
	padding: 3px;
	border-style: solid;
	border-color: black;
	border-width: 1px;
}

select option {
	background-color: #ffffff;
	font: 14px Segoe UI, Arial, sans-serif;
}

select {
	background-color: #ffffff;
	font: 14px Segoe UI, Arial, sans-serif;
}

textarea {
	background-color: transparent;
	font: 14px Segoe UI, Arial, sans-serif;
}

button {
	border-style: solid;
	font: 14px Segoe UI, Arial, sans-serif;
}

input[type="text"]:disabled
{
	background:#999999;
}

img.clicky {
	cursor: pointer;
}

li.menu a {
	background-color: white;
	color: black;
	padding: 10px;
	text-decoration: none;
	border-style: solid;
	border-top: 0;
	border-width: 1px;
	font-weight: bold;
	font-size: 12px;
}
 
li.menu a:hover {
	/* This rule is only in effect when mouse is hovering */
	color: black;
	zoom: 1;
	filter: alpha(opacity=80);
	opacity: .8;
	font-weight: bold;
	font-size: 12px;
}

/* Used for ip address text inputs */
.ip_container {
  border: 1px inset #999;
}
.ip_octet {
  border: 0;
  text-align: center;
  width: 2em;
}
.ip_cidr {
  width: 1.5em;
}

h1.heading {
	padding-top: 11px;
	padding-left: 1px;
	border-bottom: 1px solid #333333;
}
