h1.popup Edit Favorites
div
	div
		label.poplabel(for='pop_hostname') Hostname
		input#pop_hostname.popinput(type='text' name='pop_hostname' value='#{hostname}')
		span#pop_hostname_alert(style='position: relative; top: 4px; width: 15px; foat: left; display: inline-block;')
		div#pop_hostname_error

script.
	function check() {

	}
