form(id='general' name='setup' onsubmit="return check()")
	div#errors
	div
		label.setup(for='hostname')
			h4(style='margin: 0px;') Hostname
		input#email.box.dark(type='text' name='hostname' value='')
		div#hostnameerror

script.
	function check() {
		var invalid_flag = 0;
		var faults_html = "<div class='ui-widget'><div class='ui-state-error ui-corner-all' style='padding: 0 .7em;'>";
		faults_html = faults_html + "<p><span class='ui-icon ui-icon-alert' style='float: left; margin-right: .3em;'></span>";
		faults_html = faults_html +	"<strong>Alert:</strong><ul>";

		if ($('#username').val() == null || $('#username').val() == "")
		{
			invalid_flag = 1;
			faults_html = faults_html + "<li>Must specify a user login.</li>";
		}
		if ($('#password').val() == null || $('#password').val() == "")
		{
			invalid_flag = 1;
			faults_html = faults_html + "<li>Must specify a password.</li>";
		}
		if ($('#confirm_password').val() == null || $('#confirm_password').val() == "")
		{
			invalid_flag = 1;
			faults_html = faults_html + "<li>Passwords don't match.</li>";
		}
		if ($('#email').val() == null || $('#email').val() == "")
		{
			invalid_flag = 1;
			faults_html = faults_html + "<li>Email is required.</li>";
		}
		if (invalid_flag == 1) {
			faults_html = faults_html + "</ul></p></div></div>";
			$('#errors').append(faults_html);
			return false;
		}
	}
