h1.popup Create Schedule
hr(style='margin-bottom: 20px;')
div#pop_dragzone(style='position: relative; width: 420px; height: 372px; padding: 20px; background-color: #000;')
	div(style='position: relative; width: 75px; height: 370px; float: left;')

		div#pop_actuators.tab(style='position: absolute; width: 72px; height: 372px; top: 0px; border-radius: 9px;')
			div#pop_actuators_scrollup(style='position: relative; width: 72px; height: 36px; background-image: url("/images/icons/dark_up.png"); background-repeat:no-repeat;	background-position:center; opacity: .1;')
			div#pop_actuators_slots(style='position: relative; width: 72px; height: 300px;')
			div#pop_actuators_scrolldown(style='position: relative; width: 72px; height: 36px; background-image: url("/images/icons/dark_down.png"); background-repeat:no-repeat;	background-position:center; opacity: .1;')





	div#pop_dropzone(style='position: relative; width: 270px; height: 372px; float: left;')

		div(style='position: relative; width: 270px; height: 100px;')
			div#pop_start(style='position: absolute; width: 82px; height: 82px; top: 0px; left: 90px; border: 2px dashed #eaeaea; border-radius: 999px;	background-image: url("/images/icons/start2.png"); background-repeat:no-repeat;	background-position:center;')

		div(style='position: relative; width: 270px; height: 170px;')
			div(style='position: relative; width: 50px; height: 170px; float: left;')
			div(style='position: relative; width: 170px; height: 170px; float: left;')
				div#pop_runme(style='position: absolute; width: 140px; height: 140px; top: 5px; left: 10px; border: 2px dashed #eaeaea; border-radius: 999px; background-image: url("/images/icons/controls.png"); background-repeat:no-repeat; background-position:center;')

		div(style='position: relative; width: 270px; height: 100px;')
			div#pop_stop(style='position: absolute; width: 82px; height: 82px; top: 0px; left: 90px; border: 2px dashed #eaeaea; border-radius: 999px; background-image: url("/images/icons/stop5.png"); background-repeat:no-repeat; background-position:center;')






	div(style='position: relative; width: 75px; height: 370px; float: left;')

		div#pop_sensors.tab(style='position: absolute; width: 72px; height: 372px; top: 0px; border-radius: 9px;')
			div#pop_sensors_scrollup(style='position: relative; width: 72px; height: 36px; background-image: url("/images/icons/dark_up.png"); background-repeat:no-repeat;	background-position:center; opacity: .1;')
			div#pop_sensors_slots(style='position: relative; width: 72px; height: 300px;')
			div#pop_sensors_scrolldown(style='position: relative; width: 72px; height: 36px; background-image: url("/images/icons/dark_down.png"); background-repeat:no-repeat;	background-position:center; opacity: .1;')

div#schedule_duration
	hr
	div
		label.poplabel(style='width: 75px;' for='pop_duration') Duration
		input#pop_duration.popinput(type='text' name='pop_duration' style='width: 72px;')
		span(style='color: #333; font-size: 10px; margin: 9px;') (time in minutes)
		span#pop_duration_alert(style='position: relative; top: 4px; width: 15px; foat: left; display: inline-block;')
	hr

div#schedule_datetime
	hr
	div
		label.poplabel(style='width: 75px;' for='pop_date') Date
		input#pop_date.popinput(type='text' name='pop_date' style='width: 72px;')
		span(style='color: #333; font-size: 10px; margin: 9px;') (mm/dd/yyyy)
		span#pop_date_alert(style='position: relative; top: 4px; width: 15px; foat: left; display: inline-block;')
	div
		label.poplabel(style='width: 75px;' for='pop_time') Time 
		input#pop_time.popinput(type='text' name='pop_time' style='width: 72px;')
		span(style='color: #333; font-size: 10px; margin: 9px;') (hh:mm:ss) 24hr
		span#pop_time_alert(style='position: relative; top: 4px; width: 15px; foat: left; display: inline-block;')
		input#pop_date_alt(type='hidden' name='pop_date' value='')
		div#pop_time_error
div(style='padding-top: 20px; margin-bottom: -12px;')
	hr

script.
	// arrays for holding sensors and actuators
	var tab_slots = 4;
	var sensor_array = [{'id': 'time/date', 'icon' : '/images/icons/schedule.png'}];
	var sensor_index = 0;
	var actuator_array = [];
	var actuator_index = 0;

	$('#pop_start').hide();
	$('#pop_stop').hide();

	// socket.io stuff
	// get actuators/sensors from server
	nodeio.emit('get:sensordata');
	nodeio.emit('get:actuatordata');

	// create dialogs for scheduling entry:
	$("#schedule_duration").dialog({
		autoOpen: false,
		modal: true,
		resizable: false,
		width: 'auto',
		height: 'auto',
		dialogClass: "dlg-no-title",
		buttons: {
			"Ok": function() {
				$(this).dialog("close");
			},
			"Cancel": function() {
				$(this).dialog("close");
			}
		}
	});
	$("#schedule_datetime").dialog({
		autoOpen: false,
		modal: true,
		resizable: false,
		width: 'auto',
		height: 'auto',
		dialogClass: "dlg-no-title",
		buttons: {
			"Ok": function() {
				$(this).dialog("close");
			},
			"Cancel": function() {
				$(this).dialog("close");
			}
		}
	});

	// disable save button till schedule is more built
	$('#popup_save_button').button('disable');

	// make datepicker object
	$("#pop_date").data('picked', 0).datepicker( {
		altField: '#pop_date_alt',
		showOn: 'focus',
		altFormat: '@',
		onSelect: function() {$(this).data('picked', 1); $('#pop_time').focus();},
		setDate: new Date()
	});

	// check input
	$('#pop_duration').bind('keyup', keyup_checkDuration);

	$('#pop_time').bind('keyup', keyup_checkTime);

	// drag and drop stuffs...
	$('#pop_start').droppable( {
		accept: "div[id^='pop_sensors_button']",
		hoverClass: 'dark',
		drop: addStart
	});

	$('#pop_stop').droppable( {
		accept: "div[id^='pop_sensors_button']",
		hoverClass: 'dark',
		drop: addStop
	});

	$('#pop_runme').droppable( {
		accept: "div[id^='pop_actuators_button']",
		hoverClass: 'dark',
		drop: function(event, ui) {
			var $this = $(this);
			$("#schedule_duration").dialog('option', 'buttons', {
				"Ok": function() {
					addRun($this, event, ui);
					$(this).dialog("close");
				},
				"Cancel": function() {
					$(this).dialog("close");
				}
			});
			ui.draggable.draggable('option', 'revert', false);
			$("#schedule_duration").dialog('open');
		}
	});

	function addStart(event, ui) {
		$(this).addClass('dark').droppable('disable').removeClass('ui-state-disabled').addClass('shade');
		$(this).css('background-image', "url(" + ui.draggable.children('.buttonImage').attr('src') + ")");
		$(this).css('border', '');
		ui.draggable.draggable('option', 'revert', false);
		$('#data').append(' addedstart ');
		$('#pop_stop').show();
		$('#popup_save_button').button('enable');
		setTimeout(function() {ui.draggable.draggable('option', 'revert', true);}, 100);
	}

	function addStop(event, ui) {
		$(this).addClass('dark').droppable('disable').removeClass('ui-state-disabled').addClass('shade');
		$(this).css('background-image', "url(" + ui.draggable.children('.buttonImage').attr('src') + ")");
		$(this).css('border', '');
		ui.draggable.draggable('option', 'revert', false);
		$('#data').append(' addedstop ');
		setTimeout(function() {ui.draggable.draggable('option', 'revert', true);}, 100);
		disable_tab('pop_sensors');
	}
	
	function addRun($this, event, ui) {
		$this.droppable('disable').removeClass('ui-state-disabled').addClass('shade');
		$this.css('background-image', "url(" + ui.draggable.children('.buttonImage').attr('src') + ")");
		$this.css('border', '');
		var duration_text = "<div style='position: absolute; width: 140px; height: 30px; top: 99px; text-align: center;'>";
		duration_text = duration_text + $('#pop_duration').val() + " minutes</div>";
		$this.append(duration_text);
		ui.draggable.draggable('option', 'revert', false);
		$('#data').append(' addedrun ');
		disable_tab('pop_actuators');
		enable_tab('pop_sensors');
		$('#pop_start').show();
	}
