h1.popup Create Schedule
div(style='position: relative; width: 600px; height: 370px; padding: 20px; background-color: #000;')
	div(style='position: relative; width: 200px; height: 370px; float: left;')

		div#tab1content.tab(style='position: absolute; width: 168px; height: 370px; border-bottom-left-radius: 6px; border-bottom-right-radius: 9px; z-index: 1;')
			div(style='position: relative; width: 168px; height: 32px; top: 0px, left: 0px;')
				div#tab1(style='position: relative; float: left; width: 82px; height: 32px; z-index: 2; border-right: 1px solid #555;')
				div#tab2.tab(style='position: relative; float: left; width: 83px; height: 32px; top: 0px, left: 0px; background-color: #111; border-bottom: 1px solid #555; border-top: 1px solid #333; border-left: 1px solid #333;')
			div#button_sensor.buttonDrag(title='Sensor' style='position: relative; top: 0px; left: 0px; margin: 9px; display: inline-block;')
				img.buttonImage(src='/images/icons/control.png')
			div#button_sensor.buttonDrag(title='Sensor' style='position: relative; top: 0px; left: 0px; margin: 9px; display: inline-block;')
				img.buttonImage(src='/images/icons/box.png')
			div#button_sensor.buttonDrag(title='Sensor' style='position: relative; top: 0px; left: 0px; margin: 9px; display: inline-block;')
				img.buttonImage(src='/images/icons/lightbulb.png')
			div#button_sensor.buttonDrag(title='Sensor' style='position: relative; top: 0px; left: 0px; margin: 9px; display: inline-block;')
				img.buttonImage(src='/images/icons/burst.png')

	div(style='position: relative; width: 400px; height: 370px; float: left;')
		div(style='position: relative; width: 400px; height: 100px; text-align: center;	margin-left: auto; margin-right: auto;')
			div(style='position: relative; width: 81px; height: 81px; display: inline-block; background-color: #000; border: 2px dashed #eaeaea; border-radius: 15px;	background-image: url("/images/icons/controls.png"); background-repeat:no-repeat;	background-position:center;')
		div(style='position: relative; width: 400px; height: 170px; background-color: #000;')
			div(style='position: relative; width: 65px; height: 170px; float: left;')
			div(style='position: relative; width: 170px; height: 170px; float: left;')
				div#runme(style='position: absolute; width: 140px; height: 140px; top: 5px; left: 10px; background-color: #000; border: 2px dashed #eaeaea; border-radius: 999px;	background-image: url("/images/icons/controls.png"); background-repeat:no-repeat;	background-position:center;')
			div(style='position: relative; width: 165px; height: 170px; float: left;')
				div(style='position: absolute; width: 81px; height: 81px; top:38px; left: 38px; background-color: #000; border: 2px dashed #eaeaea; border-radius: 15px;	background-image: url("/images/icons/controls.png"); background-repeat:no-repeat;	background-position:center;')
		div(style='position: relative; width: 400px; height: 100px; text-align: center;	margin-left: auto; margin-right: auto;')
			div#stop(style='position: relative; width: 81px; height: 81px; display: inline-block; background-color: #000; border: 2px dashed #eaeaea; border-radius: 15px;	background-image: url("/images/icons/controls.png"); background-repeat:no-repeat;	background-position:center;')
			div(style='position: relative; width: 81px; height: 81px; display: inline-block; background-color: #000; border: 2px dashed #eaeaea; border-radius: 15px;	background-image: url("/images/icons/controls.png"); background-repeat:no-repeat;	background-position:center;')
			div(style='position: relative; width: 81px; height: 81px; display: inline-block; background-color: #000; border: 2px dashed #eaeaea; border-radius: 15px;	background-image: url("/images/icons/controls.png"); background-repeat:no-repeat;	background-position:center;')


script.

