h1.popup Log Out
hr(style='margin-bottom: 20px;')
div
	div(style='position: relative; width: 150px; height: 45px;')
		div#pop_power.linkIcon(title='power' style='background-color: #9A0000; border: 1px solid #9A0000; display: inline-block;')
			img.linkImage(src='/images/icons/dark_small_power.png')
		div(style='position: absolute; left: 45px; top: -4px;')
			h3 Shut Down
	div(style='position: relative; width: 150px; height: 45px;')
		div#pop_reboot.linkIcon(title='reboot' style='background-color: #008800; border: 1px solid #008800; display: inline-block;')
			img.linkImage(src='/images/icons/dark_small_reboot.png')
		div(style='position: absolute; left: 45px; top: -4px;')
			h3 Reboot
	div(style='position: relative; width: 150px; height: 45px;')
		div#pop_logout.linkIcon(title='logout' style='background-color: #00A2BF; border: 1px solid #00A2BF; display: inline-block;')
			img.linkImage(src='/images/icons/dark_small_logout.png')
		div(style='position: absolute; left: 45px; top: -4px;')
				h3 Log Out
	div(style='padding-top: 20px;')
		hr
script.
	$('#popup').dialog('option', 'buttons', { 'Cancel': function() {check();} }); 
	$("div[id^='pop_']").hover( function(){
		$(this).stop(true,true).animate({ height: "+=4", width: "+=4", left: "-=2", top: "-=2" }, "fast");
		$(this).children('img.linkImage').stop(true,true).animate({ height: "+=4", width: "+=4" }, "fast");
	}, function() {
		$(this).stop(true,true).animate({ height: "-=4", width: "-=4", left: "+=2", top: "+=2" }, "fast");
		$(this).children('img.linkImage').stop(true,true).animate({ height: "-=4", width: "-=4" }, "fast");
	});

	// scripts to handle icon clicks...
	$('#pop_logout').click( function () {
		window.location.replace("/logout");
	});
	$('#pop_reboot').click( function () {
		window.location.replace("/reboot");
	});
	$('#pop_power').click( function () {
		window.location.replace("/shutdown");
	});

	function check() {
		$('#popup').dialog('option', 'buttons', 
		{
			"Save": function() {
				if (check()) $(this).dialog("close");
			},
			"Close": function() {
				$(this).dialog("close");
			}
		});
		$('#popup').dialog("close");
	}
