h1.popup Activate Devices
hr(style='margin-bottom: -5px;')
div#pop_zones(style='position: relative; width: 295px; height: 255px; padding: 20px;')


div(style='padding-top: 30px; margin-bottom: -12px;')
	hr
script.

	$('#popup').dialog('option', 'buttons', { 'Close': function() {check();} }); 
	// populate zones div with zones


	for (var zone in zones) {
		var newbutton = "<div id='pop_actuate_" + zones[zone].name + "' class='buttonActuate' title='";
		newbutton = newbutton + zones[zone].alias + "'>";
		newbutton = newbutton + "<img class='buttonImage' src='" + zones[zone].icon + "'></div>";
		$('#pop_zones').append(newbutton);
		$('#pop_actuate_' + zones[zone].name).data('on', zones[zone].status);
		if (zones[zone].status == 1) {
			$('#pop_actuate_' + zones[zone].name).css('box-shadow', '0px 0px 31px 1px #252525 inset, 0px 0px 6px #00B7FF');
			$('#pop_actuate_' + zones[zone].name).unbind('mouseenter mouseleave');
			$('#pop_actuate_' + zones[zone].name).children('.buttonImage').css('opacity', .1);
		}
		else  {
			$('#pop_actuate_' + zones[zone].name).hover(function () {
				$(this).css('box-shadow', '0px 0px 31px 1px #252525 inset');
			}, function () {
				$(this).css('box-shadow', '');
			});
		}
	}

	$("div[id^='pop_actuate']").click(function() {
		if($(this).data('on') == 0) {
			$(this).css('box-shadow', '0px 0px 31px 1px #252525 inset, 0px 0px 6px #00B7FF');
			$(this).unbind('mouseenter mouseleave');
			$(this).css('border', '1px solid #00709d');
			$(this).children('.buttonImage').css('opacity', .1);
			$(this).data('on', 1);
			runZone($(this).attr('id').split('actuate_')[1], 1);
		}
		else if($(this).data('on') == 1) {
			$(this).css('box-shadow', '0px 0px 55px 1px #666 inset, 0px 0px 6px #000');
			$(this).css('border', '1px solid #333');
			$(this).removeClass('actuated');
			$(this).children('.buttonImage').css('opacity', 1);
			$(this).data('on', 0);
			$(this).hover(function () {
				$(this).css('box-shadow', '0px 0px 31px 1px #252525 inset');
			}, function () {
				$(this).css('box-shadow', '');
			});
			runZone($(this).attr('id').split('actuate_')[1], 0);
		}
	});

	function runZone(zone, value) {
		nodeio.emit('control:zone', {zone: zone, value: value});
	}

	function check() {
		$('#popup').dialog('option', 'buttons', 
		{
			"Save": function() {
				if (check()) $(this).dialog("close");
			},
			"Close": function() {
				$(this).dialog("close");
			}
		});
		$('#popup').dialog("close");
	}
