h1.popup Set Time Manually
hr(style='margin-bottom: 20px;')
div
	div
		label.poplabel(style='width: 75px;' for='pop_date') Date
		input#pop_date.popinput(type='text' name='pop_date' style='width: 72px;')
		span(style='color: #777; font-size: 10px; margin: 9px;') (mm/dd/yyyy)
		span#pop_date_alert(style='position: relative; top: 4px; width: 15px; foat: left; display: inline-block;')
	div
		label.poplabel(style='width: 75px;' for='pop_time') Time 
		input#pop_time.popinput(type='text' name='pop_time' style='width: 72px;')
		span(style='color: #777; font-size: 10px; margin: 9px;') (hh:mm:ss) 24hr
		span#pop_time_alert(style='position: relative; top: 4px; width: 15px; foat: left; display: inline-block;')
		input#pop_date_alt(type='hidden' name='pop_date' value='')
		div#pop_time_error
div(style='padding-top: 20px; margin-bottom: -12px;')
	hr

script.
	$("#pop_date").data('picked', 0).datepicker( {
		altField: '#pop_date_alt',
		showOn: 'focus',
		altFormat: '@',
		onSelect: function() {$(this).data('picked', 1); $('#pop_time').focus();},
		setDate: new Date()
	});

	$('#pop_time').bind('keyup', keyup_checkTime);

	function check() {
		// clear all the error boxes and alerts
		$("div[id$='_error']").empty()
		$("span[id$='_alert']").removeClass('ui-icon ui-icon-alert')

		var invalid_flag = 0;
		var message = '';

		if ($('#pop_time').val() == "")
		{
			invalid_flag = 1;
			message = '* time is empty';
			$('#pop_time_error').append("<p class='inputerror'>" + message + "</p>");
			$('#pop_time_alert').addClass('ui-icon ui-icon-alert');
		}
		else if ($('#pop_time').val().search(/^(([0-1][0-9]|2[0-3]|[0-9])|([0-1][0-9]|2[0-3]|[0-9])(:)[0-5]?[0-9]?(:?)[0-5]?[0-9]?)$/))
		{
			invalid_flag = 1;
			message = '* time is invalid (hh:mm:ss)';
			$('#pop_time_error').append("<p class='inputerror'>" + message + "</p>");
			$('#pop_time_alert').addClass('ui-icon ui-icon-alert');
		}
		if ($('#pop_date').data('picked') != 1)
		{
			invalid_flag = 1;
			message = '* must pick a date';
			$('#pop_time_error').append("<p class='inputerror'>" + message + "</p>");		
			$('#pop_date_alert').addClass('ui-icon ui-icon-alert');	
		}
		if (invalid_flag != 1) {
			// we've got a match! strip out times and calculate
			var time_chunks = $('#pop_time').val().split(/:/g)
			var time_offset = time_chunks[0]*3600000;
			if (time_chunks[1] != null)
				time_offset = time_offset + time_chunks[1]*60000;
			if (time_chunks[2] != null)
				time_offset = time_offset + time_chunks[2]*1000;

			var newTimeDate = parseInt($('#pop_date_alt').val());
			var timeobj = new Date(newTimeDate+time_offset);
			data = {
				timedate: timeobj.getTime()
			}
			nodeio.emit('put:time', data);
			return true;
		}
	}
