h1.popup View Remotes
hr(style='margin-bottom: -5px;')
div#pop_beehive(style='position: relative; width: auto; height: auto; padding: 2px; background-color: #000;')

div(style='padding-top: 0px; margin-bottom: -12px;')
	hr

script.
	// apend pop_beehive with bees and their outputs
	for (bee in beehive) {
		$('#pop_beehive').append(beehive[bee].id + '@' + bee + ' | ');
		for (out in beehive[bee].outputs) {
			$('#pop_beehive').append(' ' + out + ':' + beehive[bee].outputs[out].pin + ' ');
		}
	}
