extends layout_minimal

block content
	.center
		.center.dark.circle(style='width: 90px; height: 90px; position:relative; top:180px;')
			h3 404
		.subcontent
			fieldset(style='margin-top: 180px;')
				p.alert= error
