extends layout_minimal

block content
	.content
		.logincirc
			h1.login(style='margin-top: 99px;') [404]
			p.alert(style='position: relative; top: -55px;') error
		.login(style='position: relative; top: 50px; text-align: center; padding-bottom: 9px;')
			p.error= error
