extends layout_minimal

block content
	.center
		.center.dark.circle(style='width: 290px; height: 290px; position:relative; top:80px; z-index: -1;')
			h1.login(style='margin-top: 50px;') :404:
		.login(style='position: relative; top:-56px;')
			p.error= error
