extends layout

block jscripts
	script(src="/socket.io/socket.io.js")

	script.
		tick = io.connect();
		tick.on('data', function (data) {
				console.log(data);
		});

		tick.on('error', function (reason){
			console.error('Unable to connect Socket.IO', reason);
		});

		tick.on('connect', function (){
			console.info('successfully established a working and authorized connection');
		});

block content
	h1.heading= title
	p
		| Manual control of outputs pins, this could replace or be replaced by 
		a(href='/nodes') Nodes
		| .  Not sure yet...
		| <br>Open the browser console to see tick-tocks!
