extends layout_minimal

block jscripts
	script(src="/javascripts/jquery-waiting.js")
	script(src="/socket.io/socket.io.js")
	script(src="/javascripts/jquery-ui-1.10.3.js")
	script.
		// global variables
		var hostname = '#{hostname}';
		var serverTime;

		// do stuff once document loads
		$(window).load(function() {
			//$(document).ready(function() { 
			//give a red border to all div elements
			//$("div").css({"border-color": "#FF0000", "border-weight":"1px", "border-style":"solid"});

			// all items with a title attribute get tooltips :)
			//$( document ).tooltip({track: false , opacity: 0.5});

			// hide / show stuff on hover

			$('.buttonContainer').mouseenter(showLinks);
			$('.buttonContainer').mouseleave(hideLinks);
			
			$('.linkIcon').hover( function(){
				$(this).stop(true,true).animate({ height: "+=4", width: "+=4", left: "-=2", top: "-=2" }, "fast");
				$(this).children('img.linkImage').stop(true,true).animate({ height: "+=4", width: "+=4" }, "fast");
			}, function() {
				$(this).stop(true,true).animate({ height: "-=4", width: "-=4", left: "+=2", top: "+=2" }, "fast");
				$(this).children('img.linkImage').stop(true,true).animate({ height: "-=4", width: "-=4" }, "fast");
			});

			// disable and enable mouseleave/enter stuffs on click
			$('.buttonIcon').click(function() {
				if ($(this).data('open') === 1) {
					$(this).parent().bind('mouseleave', hideLinks);
					$(this).parent().bind('mouseenter', showLinks);
					$(this).data('open', 0);
				} else {
					$(this).parent().unbind('mouseleave');
					$(this).parent().unbind('mouseenter');
					$(this).data('open', 1);
				}
			});

			// position buttons around center node
			var buttons = $('#main').children("div[id^='container_']").size();
			// find location of node circle...
			var node_x = $('#node').offset().left;
			var node_y = $('#node').offset().top;
			var button_index = 1;
			$("div[id^='container_']").each(function() {
				// variables used in positioning
				var button_angle = 2*Math.PI / buttons * button_index;
				var angleoffset = Math.PI/2;
				var pos_x = node_x + ($(this).width()+9)*Math.cos(button_angle + angleoffset) + $('#node').width()/2 - $(this).width()/2;
				var pos_y = node_y + ($(this).height()+9)*Math.sin(button_angle + angleoffset) + $('#node').width()/2 - $(this).width()/2;
				// rotate around the center of node...
				$(this).offset({"top": pos_y, "left": pos_x});
				// count child divs (links)
				var links = $(this).children('div.buttonLinks').children().size();
				var link_index = 1;
				// position each link around button
				$(this).children('div.buttonLinks').offset({"top": pos_y, "left": pos_x}).children().each(function() {
					var link_angle = 2*Math.PI / links * link_index;
					var link_pos_x = pos_x + ($(this).width()+27)*Math.cos(link_angle + angleoffset) + $(this).parent().parent().width()/2 - $(this).width()/2;
					var link_pos_y = pos_y + ($(this).height()+27)*Math.sin(link_angle + angleoffset) + $(this).parent().parent().width()/2 - $(this).width()/2;
					$(this).offset({"top": link_pos_y, "left": link_pos_x});
					connectDivs($(this), $(this).parent().parent(), '#000', 1, $(this).parent());
					link_index++;
				});
				connectDivs($(this), $(this).parent().children('#node'), '#000', 1, $(this).parent());
				button_index++;
			});

			// connect all buttons and links to one another...
			var $buttonarray = $('#main').children("div[id^='container_']");
			for (i=0; i< buttons; i++)
			{
				if (i == buttons - 1) {
					connectDivs($buttonarray.eq(i), $buttonarray.eq(0), '#000', 1, $buttonarray.eq(i).parent());
					connectDivs($buttonarray.eq(i), $buttonarray.eq(1), '#000', 1, $buttonarray.eq(i).parent());
				}
				else if (i == buttons - 2) {
					connectDivs($buttonarray.eq(i), $buttonarray.eq(i+1), '#000', 1, $buttonarray.eq(i).parent());
					connectDivs($buttonarray.eq(i), $buttonarray.eq(0), '#000', 1, $buttonarray.eq(i).parent());
				}
				else {
					connectDivs($buttonarray.eq(i), $buttonarray.eq(i+1), '#000', 1, $buttonarray.eq(i).parent());
					connectDivs($buttonarray.eq(i), $buttonarray.eq(i+2), '#000', 1, $buttonarray.eq(i).parent());
				}
			}

			// hide all buttonlinks divs after positioning is complete
			$('.buttonLinks').toggle();
			$('#loadtext').toggle();
			$('#loading').stop(true,true).animate({ height: "-=333", width: "-=333" }, "slow");
			$('#loading').css('z-index', 0);


			// get local time from server
			nodeio.emit('get:time', function () {
				console.info('time data request');
			});

			// popup dialog used for confirmations
			$("#confirm").dialog({
				autoOpen: false,
				modal: true,
				width: 600,
				height: 300,
				buttons: {
					"Ok": function() {
						$(this).dialog("close");
					},
					"Cancel": function() {
						$(this).dialog("close");
					}
				}
			});

			// popup dialog used for all content
			$("#popup").dialog({
				autoOpen: false,
				modal: true,
				resizable: false,
				width: 'auto',
				height: 'auto',
				dialogClass: "dlg-no-title",
				buttons: {
					"Save": function() {
						if (check()) $(this).dialog("close");
					},
					"Close": function() {
						$(this).dialog("close");
					}
				}
			});

			$(".linkIcon").on('click', function(e) {
				e.preventDefault();
				var href = '/popup/' + $(this).attr("id");
				$("#popup").html("");
				// show loady spinny thingy?
				$("#popup").load(href, function() {
					// hide load spinny thingy?
					$("#popup").dialog("open");
				});
			});

		});

		// functions

		function timeupdate(atime) {
			date = new Date(atime);
			year = date.getFullYear();
			month = date.getMonth();
			months = new Array('January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December');
			d = date.getDate();
			day = date.getDay();
			days = new Array('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday');
			h = date.getHours();
			if (h<10) h = "0"+h;
			m = date.getMinutes();
			if (m<10) m = "0"+m;
			s = date.getSeconds();
			if (s<10) s = "0"+s;

			$('#date').text(days[day] + ' ' + months[month] + ' ' + d + ' ' + year);
			$('#time').text(h + ':' + m + ':' + s);
		}

		// show and hide button links
		function hideLinks() {
			$(this).children('div.buttonLinks').fadeOut();
			$(this).children('div.buttonIcon').stop(true,true).animate({ height: "-=4", width: "-=4", left: "+=2", top: "+=2" }, "fast");
			$(this).children('div.buttonIcon').children('img.buttonImage').stop(true,true).animate({ height: "-=4", width: "-=4" }, "fast");
		}
		function showLinks() {
			$(this).children('div.buttonLinks').fadeIn();
			$(this).children('div.buttonIcon').stop(true,true).animate({ height: "+=4", width: "+=4", left: "-=2", top: "-=2" }, "fast");
			$(this).children('div.buttonIcon').children('img.buttonImage').stop(true,true).animate({ height: "+=4", width: "+=4" }, "fast");
		}

		// connect divs with a line
		function connectDivs(div1, div2, color, thickness, appendTo) {
			var off1 = div1.offset();
			var off2 = div2.offset();
			// center point
			var x1 = off1.left + div1.width()/2;
			var y1 = off1.top + div1.height()/2;
			// center point
			var x2 = off2.left + div2.width()/2;
			var y2 = off2.top + div2.height()/2;
			// distance
			var length = Math.sqrt(((x2-x1) * (x2-x1)) + ((y2-y1) * (y2-y1)));
			// center
			var cx = ((x1 + x2) / 2) - (length / 2);
			var cy = ((y1 + y2) / 2) - (thickness / 2);
			// angle
			var angle = Math.atan2((y1-y2),(x1-x2))*(180/Math.PI);

			var newLine = $("<div style='position: absolute; padding:0px; margin:0px; height:" + thickness + "px; background-color:" + color + "; line-height:1px; width:" + length + "px; -moz-transform:rotate(" + angle + "deg); -webkit-transform:rotate(" + angle + "deg); -o-transform:rotate(" + angle + "deg); -ms-transform:rotate(" + angle + "deg); transform:rotate(" + angle + "deg); z-index: 0;' /></div>");
			// append and move new line
			appendTo.append(newLine);
			newLine.offset({"top": cy, "left": cx});
		}

		// socket.io
		nodeio = io.connect();

		nodeio.on('time', function(timefromserver) {
			clearInterval(clock);
			serverTime = timefromserver;
			var clock = setInterval(function() {
				timeupdate(timefromserver);
				timefromserver += 1000;
			}, 1000);
			console.info('got time: ' + timefromserver);
		});

		nodeio.on('error', function (reason) {
			console.error('Unable to connect Socket.IO', reason);
		});

		nodeio.on('connect', function () {
			console.info('successfully established a working and authorized connection');
		});


block content
	div#loading.bigcirc
		h1#loadtext(style='position: relative; top: 260px; font-size: 66px; color: #000')

	div#node.node
		h1.node [#{hostname}]
		h5#date.date &nbsp;
		h4#time.time &nbsp;

	div#title_settings.buttonTitle
		<a>|</a> settings <a>|</a>
	div#container_settings.buttonContainer
		div#button_settings.buttonIcon(title='Settings')
			img.buttonImage(src='/images/icons/settings.png')
		div#settings_links.buttonLinks
			div#security.linkIcon(title='Modify User Login')
				img.linkImage(src='/images/icons/security_small.png')
			div#wifi.linkIcon(title='Wireless Settings')
				img.linkImage(src='/images/icons/wifi_small.png')
			div#ethernet.linkIcon(title='Ethernet Settings')
				img.linkImage(src='/images/icons/network_small.png')
			div#accesspoint.linkIcon(title='Access Point Settings')
				img.linkImage(src='/images/icons/router_small.png')
			div#general.linkIcon(title='Controller Settings')
				img.linkImage(src='/images/icons/wrench_small.png')
			div#email.linkIcon(title='Change Email Address')
				img.linkImage(src='/images/icons/email_small.png')
			div#email.linkIcon(title='Change Time')
				img.linkImage(src='/images/icons/clock_small.png')

	div#title_settings.buttonTitle
		<a>|</a> manual control <a>|</a>
	div#container_control.buttonContainer
		div#button_control.buttonIcon(title='Control')
			img.buttonImage(src='/images/icons/control.png')
		div.buttonLinks

	div#container_schedule.buttonContainer
		div#button_schedule.buttonIcon(title='Schedule')
			img.buttonImage(src='/images/icons/schedule.png')
		div.buttonLinks
			div.linkIcon
				img.linkImage(src='/images/check.png')

	div#container_sensor.buttonContainer
		div#button_sensor.buttonIcon(title='Sensor')
			img.buttonImage(src='/images/icons/box.png')
		div.buttonLinks
			div.linkIcon(style='background-color: #A00000;')
				img.linkImage(src='/images/icons/delete.png')
			div.linkIcon(style='background-color: #A00000;')
				img.linkImage(src='/images/icons/delete.png')
			div.linkIcon(style='background-color: #A00000;')
				img.linkImage(src='/images/icons/delete.png')
			div.linkIcon(style='background-color: #A00000;')
				img.linkImage(src='/images/icons/delete.png')
			div.linkIcon(style='background-color: #A00000;')
				img.linkImage(src='/images/icons/delete.png')
			div.linkIcon(style='background-color: #A00000;')
				img.linkImage(src='/images/icons/delete.png')

	div#container_sensor.buttonContainer
		div#button_sensor.buttonIcon(title='Sensor')
			img.buttonImage(src='/images/icons/box.png')
		div.buttonLinks
			div.linkIcon(style='background-color: #A00000;')
				img.linkImage(src='/images/icons/delete.png')
			div.linkIcon(style='background-color: #A00000;')
				img.linkImage(src='/images/icons/delete.png')
			div.linkIcon(style='background-color: #A00000;')
				img.linkImage(src='/images/icons/delete.png')
			div.linkIcon(style='background-color: #A00000;')
				img.linkImage(src='/images/icons/delete.png')
			div.linkIcon(style='background-color: #A00000;')
				img.linkImage(src='/images/icons/delete.png')
			div.linkIcon(style='background-color: #A00000;')
				img.linkImage(src='/images/icons/delete.png')

	div#container_sensor.buttonContainer
		div#button_sensor.buttonIcon(title='Sensor')
			img.buttonImage(src='/images/icons/box.png')
		div.buttonLinks
			div.linkIcon(style='background-color: #A00000;')
				img.linkImage(src='/images/icons/delete.png')
			div.linkIcon(style='background-color: #A00000;')
				img.linkImage(src='/images/icons/delete.png')
			div.linkIcon(style='background-color: #A00000;')
				img.linkImage(src='/images/icons/delete.png')
			div.linkIcon(style='background-color: #A00000;')
				img.linkImage(src='/images/icons/delete.png')
			div.linkIcon(style='background-color: #A00000;')
				img.linkImage(src='/images/icons/delete.png')
			div.linkIcon(style='background-color: #A00000;')
				img.linkImage(src='/images/icons/delete.png')

	div#container_sensor.buttonContainer
		div#button_sensor.buttonIcon(title='Sensor')
			img.buttonImage(src='/images/icons/box.png')
		div.buttonLinks
			div.linkIcon(style='background-color: #A00000;')
				img.linkImage(src='/images/icons/delete.png')
			div.linkIcon(style='background-color: #A00000;')
				img.linkImage(src='/images/icons/delete.png')
			div.linkIcon(style='background-color: #A00000;')
				img.linkImage(src='/images/icons/delete.png')
			div.linkIcon(style='background-color: #A00000;')
				img.linkImage(src='/images/icons/delete.png')
			div.linkIcon(style='background-color: #A00000;')
				img.linkImage(src='/images/icons/delete.png')
			div.linkIcon(style='background-color: #A00000;')
				img.linkImage(src='/images/icons/delete.png')


	div#popup
	div#confirm
