extends layout

block jscripts
	script.
		$(document).ready(function(){
			$("div").css({"border-color": "#C1E0FF", "border-weight":"1px", "border-style":"solid"});
		});

block content
	h1.heading= title
	p.
		Main Content, could show current status, last sensor readings (socket.io?)<br>
		Other things I'm sure...
