doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		div.wrap
			div.header
				img(src='/images/header.png')
			div.content
				block content
		script(src="/javascripts/scripts.js")
