doctype 5
html
	head
		title= title
		script(src="/javascripts/jquery-1.10.2.js")
		block jscripts
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/custom/jquery-ui-1.10.3.custom.css')
	body
		div.wrap
			div.mainmenu.center
				ul.menu
					li
						a(href="/")
							img(src="/images/home.png")
							| &nbsp; Home
					li
						a(href="/control")
							img(src="/images/control.png")
							| &nbsp; Control
					li
						a(href="/nodes")
							img(src="/images/nodes.png")
							| &nbsp; Nodes
					li
						a(href="/schedule")
							img(src="/images/schedule.png")
							| &nbsp; Schedule
					li
						a(href="/sensors")
							img(src="/images/data.png")
							| &nbsp; Data
					li
						a(href="/settings")
							img(src="/images/settings.png")
							| &nbsp; Settings
					li
						a(href="/logout")
							img(src="/images/logout.png")
							| &nbsp; Logout
			div.content
				block content
			//- page content here
