extends layout_minimal

block jscripts
	script(src="/javascripts/jquery-ui-1.10.3.js")
	script.
		// do stuff once document loads
		$(document).ready( function() { 
			//$("div").css({"border-color": "#FF0000", "border-weight":"1px", "border-style":"solid"});
			$('#login').button().click(function() {
					$('#logon').submit();
			});
			$('#username').focus();
			$('#login').button('disable');

			$('#username').keypress( function() {
				$('#login').button('enable');
			});

			$('input').keypress(function (e) {
				if (e.which == 13) {
					$('#login').focus().click();
				}
			});

		});

block content
	.center
		.center.dark.circle(style='width: 90px; height: 90px; position:relative; top:180px;')
			h3 login
		form(method='post', action='/login', id='logon')
			.subcontent
				fieldset(style='margin-top: 180px;')
					p.alert= message
					label.login(for='username') username
					input(type='text', name='username', id='username', size='12')
					label.login(for='password', style='margin-left: 20px') password
					input(type='password', name='password', id='password', size='12')
				.center(style='position:relative; top:30px;')
					input(id="login" type="button" value="enter")
