extends layout_minimal

block jscripts
	script(src="/javascripts/jquery-ui-1.10.3.js")
	script.
		// do stuff once document loads
		$(document).ready( function() { 
			//$("div").css({"border-color": "#FF0000", "border-weight":"1px", "border-style":"solid"});
			$('#login').button().click(function() {
					$('#logon').submit();
			});
			$('#username').focus();
			if ($('#username').val() == "")
				$('#login').button('disable');

			$('#username').keypress( function() {
				$('#login').button('enable');
			});

			$('input').keypress(function (e) {
				if (e.which == 13) {
					$('#login').focus().click();
				}
			});

		});

block content
	.center
		.center.dark.circle(style='width: 290px; height: 290px; position:relative; top:80px; z-index: -1;')
			h1.login(style='margin-top: 50px;') :login:
		form(method='post', action='/login', id='logon')
			.login(style='position: relative; top:-56px;')
				p.alert= message
				div
					label.login(for='username') username
					input#username.popinput(type='text' name='username')
				div
					label.login(for='password') password
					input.popinput(type='password' name='password')
			.center(style='position: relative; top:-35px;')
				input(id="login" type="button" value="enter")
