extends layout

block content
	h1.heading= title
	p.
		Placeholder for possible graphical display of current nodey network.<br>
		Would show all inputs/output of all slave controllers and their remotes also.
	img(src='/images/nodes.jpg')
