extends layout_minimal

block jscripts
	script(src="/javascripts/jquery-waiting.js")
	script(src="/socket.io/socket.io.js")
	script(src="/javascripts/jquery-ui-1.10.3.js")
	script.
		// global variables
		var hostname = '#{hostname}';
		var serverTime;

		// do stuff once document loads
		$(document).ready(function() { 
			// give a red border to all div elements
			//$("div").css({"border-color": "#FF0000", "border-weight":"1px", "border-style":"solid"});

			// all items with a title attribute get tooltips :)
			//$( document ).tooltip({track: true , opacity: 0.5});

			// hide / show stuff on clicks
			$('#settings').click(function() {
				$('#settingslinks').toggle();
			});


			// get data from server
			nodeio.emit('get:time', function () {
				console.info('time data request');
			});

			// popup dialog used for confirmations
			$("#confirm").dialog({
				autoOpen: false,
				modal: true,
				width: 600,
				height: 300,
				buttons: {
					"Ok": function() {
						$(this).dialog("close");
					},
					"Cancel": function() {
						$(this).dialog("close");
					}
				}
			});

			// popup dialog used for all content
			$("#popup").dialog({
				autoOpen: false,
				modal: true,
				resizable: false,
				width: 'auto',
				height: 'auto',
				dialogClass: "dlg-no-title",
				buttons: {
					"Save": function() {
						check();
						//$(this).dialog("close");
					},
					"Close": function() {
						$(this).dialog("close");
					}
				}
			});

			$(".boxylink").on('click', function(e) {
				e.preventDefault();
				var href = '/popup/' + $(this).attr("id");
				$("#popup").html("");
				// show loady spinny thingy?
				$("#popup").load(href, function() {
					// hide load spinny thingy?
					$("#popup").dialog("open");
				});
			});

		});

		// functions

		function timeupdate(atime) {
			date = new Date(atime);
			year = date.getFullYear();
			month = date.getMonth();
			months = new Array('January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December');
			d = date.getDate();
			day = date.getDay();
			days = new Array('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday');
			h = date.getHours();
			if (h<10) h = "0"+h;
			m = date.getMinutes();
			if (m<10) m = "0"+m;
			s = date.getSeconds();
			if (s<10) s = "0"+s;

			$('#date').text(days[day] + ' ' + months[month] + ' ' + d + ' ' + year);
			$('#time').text(h + ':' + m + ':' + s);
		}


		// socket.io
		nodeio = io.connect();

		nodeio.on('time', function(timefromserver) {
			serverTime = timefromserver;
			setInterval(function() {
				timeupdate(timefromserver);
				timefromserver += 1000;
			}, 1000);
			console.info('got time: ' + timefromserver);
		});

		nodeio.on('error', function (reason) {
			console.error('Unable to connect Socket.IO', reason);
		});

		nodeio.on('connect', function () {
			console.info('successfully established a working and authorized connection');
		});


block content
	.center.dark.circle(style='width: 180px; height: 180px; position:relative; top:135px;')
		h1.node #{hostname}
		h5#date.date &nbsp;
		h4#time.time &nbsp;

	div.boxy(style='position: absolute; left: 0; width: 130px; top: 20px; border: 1px solid #333; border-right: 0px; border-bottom: 0px; border-radius: 0px;')
		div#settings.boxyicon(style='position: absolute; width: 62px; height: 62px; top: -31px; left: -31px; color: #eaeaea; border: 1px solid #000; border-radius: 999px; background-color: #333; font-size: 2em; box-shadow: 0px 0px 6px #333; z-index: 10;')
			img(src='/images/settings_big.png' style='position: absolute; top: 5px; left: 5px;')
		div.boxyhead(style='position: absolute; width: 130px; height: 27px; top: -16px; left: 50px; color: #eee; border: 1px solid #333; border-radius: 6px; background-color: #333; font-size: 2em; box-shadow: 0px 0px 6px #555; z-index: 9; padding-bottom: 6px; text-align: center;')
			div.boxypad(style='padding-left: 6px; padding-top: 3px;')
				a |
				|  settings
				a  |
		div#settingslinks.boxylinks(style='position:relative; height:230px;')
			div#security.boxylink(style='position: absolute; width: 34px; height: 34px; top: 45px; left: -18px; color: #eee; border: 1px solid #333; border-radius: 999px; background-color: #333; font-size: 2em; box-shadow: 0px 0px 6px #555; cursor: pointer; z-index: 9;' title='Modify User Profile')
				img(src='/images/security_small.png' style='position: absolute; top: 5px; left: 5px;')
			div#wifi.boxylink(style='position: absolute; width: 34px; height: 34px; top: 90px; left: -18px; color: #eee; border: 1px solid #333; border-radius: 999px; background-color: #333; font-size: 2em; box-shadow: 0px 0px 6px #555; cursor: pointer; z-index: 9;' title='Wireless Settings')
				img(src='/images/wifi_small.png' style='position: absolute; top: 5px; left: 5px;')
			div#ethernet.boxylink(style='position: absolute; width: 34px; height: 34px; top: 135px; left: -18px; color: #eee; border: 1px solid #333; border-radius: 999px; background-color: #333; font-size: 2em; box-shadow: 0px 0px 6px #555; cursor: pointer; z-index: 9;' title='Ethernet Settings')
				img(src='/images/network_small.png' style='position: absolute; top: 5px; left: 5px;')
			div#accesspoint.boxylink(style='position: absolute; width: 34px; height: 34px; top: 180px; left: -18px; color: #eee; border: 1px solid #333; border-radius: 999px; background-color: #333; font-size: 2em; box-shadow: 0px 0px 6px #555; cursor: pointer; z-index: 9;' title='Access Point Settings')
				img(src='/images/router_small.png' style='position: absolute; top: 5px; left: 5px;')
			div#general.boxylink(style='position: absolute; width: 34px; height: 34px; top: 225px; left: -18px; color: #eee; border: 1px solid #333; border-radius: 999px; background-color: #333; font-size: 2em; box-shadow: 0px 0px 6px #555; cursor: pointer; z-index: 9;' title='Controller Settings')
				img(src='/images/wrench_small.png' style='position: absolute; top: 5px; left: 5px;')
			div.boxylink(style='position: absolute; width: 34px; height: 34px; top: 270px; left: -18px; color: #eee; border: 1px solid #333; border-radius: 999px; background-color: #005000; font-size: 2em; box-shadow: 0px 0px 6px #555; cursor: pointer; z-index: 9;')
				img(src='/images/check.png' style='position: absolute; top: 5px; left: 5px;')
			div.boxylink(style='position: absolute; width: 34px; height: 34px; top: 315px; left: -18px; color: #eee; border: 1px solid #333; border-radius: 999px; background-color: #a00000; font-size: 2em; box-shadow: 0px 0px 6px #555; cursor: pointer; z-index: 9;')
				img(src='/images/delete.png' style='position: absolute; top: 5px; left: 5px;')

	div#popup
	div#confirm
