extends layout_minimal

block content
	.bigcirc(style='width: 420px; height: 420px;')
		.logincirc
			h1.bigblue(style='margin-top: 119px;') [reboot]
			p.login(style='position: relative; top: -55px;') this may take a minute...

block jscripts
	script(src="/socket.io/socket.io.js")
	script.
		// socket.io
		nodeio = io.connect();

		nodeio.emit('reboot');
		setTimeout(function() {
			window.location.replace("/login");
		}, 55000);
