extends layout

block jscripts
	script(src="/javascripts/jquery-waiting.js")
	script(src="/socket.io/socket.io.js")
	script(src="/javascripts/jquery-ui-1.10.3.js")
	script.
		// do stuff once document loads
		$(document).ready(function() { 
			$('#settings').click(function() {
				$('#settingslinks').toggle();
			});
		});

block content
	form(method='post' id='settingsForm' name='settings' action='/settings/edit' onsubmit="return validateForm()")
	div.frame
		div.leftbar(style='position: absolute; left: 30px; top: 20px;')


			div.boxy(style='position: absolute; left: 0; width: 130px; top: 20px; border: 1px solid #333; border-right: 0px; border-bottom: 0px; border-radius: 0px;')
				div#settings.boxyicon(style='position: absolute; width: 62px; height: 62px; top: -31px; left: -31px; color: #eaeaea; border: 1px solid #000; border-radius: 999px; background-color: #333; font-size: 2em; box-shadow: 0px 0px 6px #333; z-index: 10;')
					img(src='/images/settings_big.png' style='position: absolute; top: 5px; left: 5px;')
				div#settings.boxyhead(style='position: absolute; width: 130px; height: 27px; top: -16px; left: 50px; color: #eee; border: 1px solid #333; border-radius: 6px; background-color: #333; font-size: 2em; box-shadow: 0px 0px 6px #555; z-index: 9; padding-bottom: 6px; text-align: center;')
					div.boxypad(style='padding-left: 6px; padding-top: 3px;')
						a |
						|  settings
						a  |
				div#settingslinks.boxylinks(style='position:relative; height:230px;')
					div.boxylink(style='position: absolute; width: 34px; height: 34px; top: 45px; left: -18px; color: #eee; border: 1px solid #333; border-radius: 999px; background-color: #333; font-size: 2em; box-shadow: 0px 0px 6px #555; z-index: 9;')
						img(src='/images/security_small.png' style='position: absolute; top: 5px; left: 5px;')
					div.boxylink(style='position: absolute; width: 34px; height: 34px; top: 90px; left: -18px; color: #eee; border: 1px solid #333; border-radius: 999px; background-color: #333; font-size: 2em; box-shadow: 0px 0px 6px #555; z-index: 9;')
						img(src='/images/wifi_small.png' style='position: absolute; top: 5px; left: 5px;')
					div.boxylink(style='position: absolute; width: 34px; height: 34px; top: 135px; left: -18px; color: #eee; border: 1px solid #333; border-radius: 999px; background-color: #333; font-size: 2em; box-shadow: 0px 0px 6px #555; z-index: 9;')
						img(src='/images/network_small.png' style='position: absolute; top: 5px; left: 5px;')
					div.boxylink(style='position: absolute; width: 34px; height: 34px; top: 180px; left: -18px; color: #eee; border: 1px solid #333; border-radius: 999px; background-color: #333; font-size: 2em; box-shadow: 0px 0px 6px #555; z-index: 9;')
						img(src='/images/router_small.png' style='position: absolute; top: 5px; left: 5px;')
					div.boxylink(style='position: absolute; width: 34px; height: 34px; top: 225px; left: -18px; color: #eee; border: 1px solid #333; border-radius: 999px; background-color: #333; font-size: 2em; box-shadow: 0px 0px 6px #555; z-index: 9;')
						img(src='/images/wrench_small.png' style='position: absolute; top: 5px; left: 5px;')

		div.subcontent(style='position: absolute; width: 420px; top: 25px; right: 0px')
			fieldset
				legend <a>|</a> node configuration <a>|</a>
				label.setupnet(for='hostname') Hostname
				input.box(type='text', name='hostname', id='hostname', size='12' value='...')
				br
				label.setupnet(for='description' style='vertical-align: top;') Description
				textarea(type='text' name='description' id='description')
