extends layout

block jscripts
	script(src="/javascripts/jquery-ui-1.10.3.js")
	script(src="/socket.io/socket.io.js")

	script.
		// variable for socketio repetition
		var timer;
		// socket.io stuffs...
		tick = io.connect();

		tick.on('time', function(data) {
			$('#time').text(data);
			console.info('got time: ' + data);
		});

		tick.on('error', function (reason) {
			console.error('Unable to connect Socket.IO', reason);
			clearInterval(timer);
		});

		tick.on('connect', function () {
			console.info('successfully established a working and authorized connection');
		});

		// do stuff once document loads
		$(document).ready(function() { 
			// button
			$('#sio').button().click(function() {
				//tick.emit('testdata', prompt("testing?"));
				timer = setInterval( function() {
					tick.emit('get:time', function () {
						console.info('sensor data request');
					});
				}, 1000);
			});
		});

block content
	h1.heading= title
	p
		| You know you want to click it...  What time is it?
	p#time
	button#sio Yea...
